<template>
  <div class="page">
    <div class="page__hd">
    <img  class="login_bg" src="../../../static/images/backgroundImage2.png" />
    </div>

    <div class="page-in">
      <div>
        <div class="weui-flex">
          <div class="weui-flex__item flex-2"></div>
          <div class="weui-flex__item flex-24 input-fx">
            <div class="flex_img"><img class="logo" src="../../../static/images/logo2.png" /></div>
            <h1 class="title">优加评分</h1>
          </div>
          <div class="weui-flex__item flex-2"></div>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item flex-2"></div>
            <div class="weui-flex__item flex-24 input-fx">
              <span class="icon-cs"><i class="iconfont icon-user"></i></span>
              <input class="login-input" placeholder="请输入用户名" maxlength="100" placeholder-class="placeholder" v-model="form.username"/>
            </div>
            <div class="weui-flex__item flex-2"></div>
        </div>

        <div class="weui-flex">
            <div class="weui-flex__item flex-2"></div>
            <div class="weui-flex__item flex-24 input-fx">
              <span class="icon-cs"><i class="iconfont icon-lock"></i></span>
              <input type="password" class="login-input" placeholder="请输入密码" maxlength="250" placeholder-class="placeholder" v-model="form.password"/>
            </div>
            <div class="weui-flex__item flex-2"></div>
        </div>

        <form @submit="submitLogin">
          <div class="weui-flex" style="margin: 10px 0">
            <div class="weui-flex__item flex-2"></div>
            <div class="weui-flex__item flex-24">
              <button class="login-button" form-type="submit">登录</button>
            </div>
            <div class="weui-flex__item flex-2"></div>
          </div>
        </form>
     
      </div>
    </div>

  </div>
</template>

<script>
  import mpvuePicker from 'mpvue-picker';
  import API from "@/api/api";
  import router from '@/router/index';
  import util from '@/utils/index';

  export default {
    data () {
      return {
        district: '',
        form: {
          formId: '',
          username: '',
          password: '',
          phone: '',
          idRole: 0
        },
        openid: null,
        sendCodeCount: 60,
        isShowCode: true,
        canIUse: wx.canIUse('button.open-type.getUserInfo'),
        roleList: [{
          name: '业主',
          checked: true
        },
        {
          name: '街道监管人',
          checked: false
        }],

        mode: 'selector',
        deepLength: 0, // 几级联动
        pickerValueDefault: [], // 初始化值
        pickerValueArray: [], // picker 数组值
        pickerText: '',
        themeColor: '', // 颜色主题
        districtValueArray: []
      }
    },
    components: {
      mpvuePicker
    },
    onShow() {
      // API.encryptedPassword()
      this.form.roleId = 1

      let _that = this
      // mpvue.getSetting({
      //   success: (res) => {
      //     if (res.authSetting['scope.userInfo']) { // 已授权
            // 调用 getUserInfo 获取头像昵称
            // wx.getUserInfo({
            //   success: (res => {
                // wx.setStorageSync('wxUserInfo', res.userInfo)
                let userInfo = wx.getStorageSync('userInfo')
                if (userInfo != "") { // if 已登录
                  // 1. 保存用户微信名
                  // let data = {
                  //   nickName: res.userInfo.nickName,
                  //   userId: userInfo.userId
                  // }
                  mpvue.redirectTo({ url: router.main })
                }
                 // 获取openid
                wx.login({
                  success: (res => {
                    if (res.code) {
                      // 调用微信登录获取code换取用户openid
                      API.getOpenId({
                        code: res.code
                      }).then(res => {
                        // 收集用户openid
                        _that.openid = res.datas.openid
                        wx.setStorageSync('openid', _that.openid)
                      })
                      
                    }
                  })
                })
            //   })
            // })
           
      //     } else { // 未授权跳转授权
      //       mpvue.navigateTo({ url: router.authorize })
      //     }
      //   }
      // })
    },
    watch: {
    },
    mounted () {
    },
    onPullDownRefresh() {
    },
    methods: {
      // 保存用户openid
      updateUser(idUser) {
        let params = {
          idUser: idUser,
          formId: this.openid
        }
        API.updateUser(params)
        .then(res => {
          // console.log('update openid ->', res)
        })
      },
      submitLogin(e) {
        this.form.formId = this.openid
        let user = this.form
        if (util.isEmptyString(user.username)) {
          mpvue.showModal({
            title: '提示',
            content: `请填写用户名`,
            showCancel: false
          })
          return false
        }
        if (util.isEmptyString(user.password)) {
          mpvue.showModal({
            title: '提示',
            content: `请填写密码`,
            showCancel: false
          })
          return false
        }

        let that = this
        API.login(this.form)
        .then(res => {
          if (res.datas) {
            wx.setStorageSync('userInfo', res.datas)
            that.updateUser(res.datas.idUser)
            that.form = {
              username: '',
              password: '',
            }
            that.district = ''
            that.districtValueArray = []
            that.districtValueArray = []
            that.roleList = []
            // mpvue.redirectTo({ url: router.main })
            mpvue.redirectTo({ url: router.authorize })
          } else {
            mpvue.showModal({
              title: '提示',
              content: `用户名或密码错误！`,
              showCancel: false
            })
            return false
          }
        })
      }
    }
  }
</script>

<style>
.flex_img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo {
  width: 160rpx;
  height: 160rpx;
}
.input-fx {
  z-index: 1;
  margin: 10rpx 0;
}
button::after {
  border: none
}
.page-in div:first-child{
  width: 100%;
  margin: 20rpx 0 0;
  margin-bottom: 10rpx;
}
.title{
  font-size: 48rpx;
  color: #5c7cd1;
  text-align: center;
  font-weight: 500;
  letter-spacing: 40rpx;
  padding-left: 30px;
}
radio {
  margin: 10rpx 20rpx;
}
.page{
  height: 100%;
}
.page-in{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-button {
  font-family: 'MicrosoftYaHei';
  background-color: #7c9bfe;
  color: #fff;
  font-size: 30rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rpx;
}
.login-input {
  border-radius: 5rpx;
  padding: 20rpx;
  color: #b9b9b9;
  padding-left: 40rpx;
  opacity: 0.7;
  padding-left: 60rpx;
  border-bottom: 1px solid #dae6fc;
}
.placeholder {
   font-size: 30rpx;
   color: #b9b9b9;
}
.login_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  text-align: center;
  line-height: 121rpx;
  color: #fff;
  text-indent: -6rpx;
  opacity:1;
  animation: heart 0.8s ease-in-out 2s infinite alternate
}
.icon-cs {
  display: inline-block;
  color: #fff;
  position: absolute;
  margin-top: 15rpx;
}
.icon-cs i {
  font-size: 40rpx;
}
.icon-user:before,
.icon-lock::before {
  color: #7c9bfe;
}
</style>