<template>
  <div class="page" style="height: 100%;">
    <div class="main">
      <h2>规则</h2>
      <p class="node">相关说明：</p>
      <div class="content">
        <p class="_option"><span>1</span>&nbsp;&nbsp;系统将会在每月1号统计出上个月得分最高的三名用户进行奖励，
        同时得分最低的用户将会有相应的处罚（具体的奖励和处罚以通知为准）。</p>
      </div>

      <p class="node child-option">评分数据更新服务说明：</p>
      <div  class="content">
        <p class="_option"><span>1</span>&nbsp;&nbsp;每日所获评分数据将于次日早晨6：00更新服务。</p>
      </div>

      <div class="flex_btn">
        <button type="primary" @click="routerLinkToHome">知道啦</button>
      </div>

    </div>
  </div>
</template>

<script>
  import router from '@/router/index';

  export default {
    data () {
      return {
      }
    },
    onShow () {
      
    },
    onLoad(options) {
      
    },
    mounted() {
      
    },
    methods: {
      routerLinkToHome() {
        mpvue.navigateTo({ url: router.main })
      }
    }
  }
</script>

<style scoped>
  .main {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 50rpx;
  }
  h2 {
    font-size: 42rpx;
    text-align: center;
  }
  .node {
    font-size: 16px;
    font-weight: bold;
  }
  p {
    letter-spacing: 2rpx;
  }
  .flex_btn {
    width: 80%;
    position: absolute;
    bottom: 200rpx;
  }
  button {
    width: 60%;
    color: #fff;
    font-size: 16px;
    background-color: #6495ED;
  }
  .child-option {
    margin-top: 100rpx;
  }
</style>
