<template>
  <div class="page" style="height: 100%;">
    <div class="main">
      <div class="shade"></div>

      <form report-submit @submit="getFormId" v-if="!isPowerShow">
        <div class="authorize">
          <div class="mask-jurisdiction">
            <div style="font-size: 14px;font-weight: bold">微信授权</div>
            <div>优加评分申请获取以下权限</div>
            <div>获取你的公开信息（昵称、头像等）</div>
            <button v-if="state !== 'anonymous'" form-type="submit" open-type="getUserInfo" @getuserinfo="bindGetUserInfo">允许</button>
            <button v-else form-type="submit" open-type="getPhoneNumber" @getphonenumber="bindGetUserInfo">允许</button>
          </div>
        </div>
      </form>

      <div class="mask-close" v-else-if="isClose">
        <navigator open-type="exit" target="miniProgram" @click="isPowerShow = false">重新授权</navigator>
      </div>
    </div>
  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index';

  export default {
    data () {
      return {
        canIUse: mpvue.canIUse('button.open-type.getUserInfo'),
        isPowerShow:true,
        isClose:false,
        userId: null,
        state: null,
        session_key: null
      }
    },
    onShow () {
      // this.isAuth()
    },
    onLoad(options) {
      this.userId = options.userId
      this.state = options.state
      
    },
    mounted() {
      // 如果是匿名用户先登录微信再授权
      if (this.state === 'anonymous') {
        this.login()
      }
      this.isAuth()
    },
    methods: {
      login() {
        let _that = this
        wx.login({
          success(res){
            if (res.code) {
              API.getOpenId({
                code: res.code
              }).then(res => {
                _that.session_key = res.datas.session_key
              })
            }
          }
        })
      },
      getFormId(e) {
        console.log(e)
      },
      // 验证是否已授权
      isAuth () {
        let _that = this
        mpvue.getSetting({
          success: (res) => {
            if (res.authSetting['scope.userInfo']) { // 已授权
                _that.isPowerShow = true
            } else { // 未授权
                _that.isPowerShow = false
                _that.isClose = true
            }
          }
        })
      },
      // 点击授权
      bindGetUserInfo (e) {
        let _that = this
        if (e.mp.detail.encryptedData) {//如果有，点击的是确认授权
            let encryptedData = e.mp.detail.encryptedData
            let iv = e.mp.detail.iv
            this.isPowerShow = true
            this.isClose = false

            if (this.state === 'anonymous') { // 匿名用户扫码登入
              // 获取解密后的手机号
              API.getPhoneNumber({
                iv: iv,
                encryptedData: encryptedData,
                session_key: _that.session_key
              }).then(res => {
                if (res.datas > 0) {
                  mpvue.redirectTo({ url: router.error })
                }
              })
              wx.setStorageSync('type', 'anonymous')
              mpvue.redirectTo({ url: router.ratingDetail })
            } else {
              mpvue.redirectTo({ url: router.rule })
            }
            
        } else {
          this.isPowerShow = true
          this.isClose = true
          return
        }
      }
    }
  }
</script>

<style scoped>
  .main {
    width: 100%;
    height: 100%;
  }
  .authorize {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  .mask-jurisdiction {
    padding: 20px 40px 30px;
    border-radius: 8px;
    background: #fff;
    font-size: 28rpx;
  }
  .mask-jurisdiction > div {
    margin: 10px 0;
  }
  button {
    background: #fff;
    color: green;
    font-size: 12px;
  }
  .mask-close{
    position: absolute;
    top:  0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  navigator{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80rpx;
    line-height: 80rpx;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right, #52b7a2, #3782a0);
    font-size: 36rpx;
  }


</style>
