<template>
  <div class="page">
    <page-meta>
      <navigation-bar
        :loading="nbLoading"
        :front-color="nbFrontColor"
        :background-color="nbBackgroundColor"
        :color-animation-duration="2000"
        :color-animation-timing-func="easeIn"
      />
    </page-meta>

    <div class="content">
      <div class="_box" v-for="(item, index) in dataInfo" :key="index" @click="routerLinkToRating(item)">
        <div>
          <span>
            <!-- <i class="iconfont icon-touxiang-background"></i> -->
            <img src="../../../static/images/user.png" />
          </span>
        </div>
        <div>
          <p>{{item.username}}</p>
          <div class="_text">
            <span v-if="item.star > 0"><i class="iconfont icon-light-star"></i></span>
            <span v-else><i class="iconfont icon-default-star"></i></span>
            <span>{{item.star}}.0</span>
          </div>
          <span><i class="iconfont icon-score"></i></span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index'

  export default {
    data () {
      return {
        roleId: -1,
        nbFrontColor: '#6495ED',
        nbLoading: false,
        nbFrontColor: '#ffffff',
        nbBackgroundColor: '#6495ED',

        dataInfo: [],
        roleId: 2,
        checked: 0
      }
    },
    onShow(){
    },
    onLoad(options) {
      this.roleId = options.roleId
    },
    mounted() {
      wx.showLoading({
        title: '加载中',
      })
      this.getDepartmentUser()
    },
    methods: {
      getDepartmentUser() {
        API.getDepartmentUser()
        .then(res => {
          wx.hideLoading()
          this.dataInfo = res.datas
        })
      },
      routerLinkToRating(data) {
        let url = router.ratingDetail 
        + '?idUser=' + data.idUser 
        mpvue.redirectTo({ url })
      }
    }
  }
</script>

<style scoped>
.page {
  height: 100%;
  background-color: #f6f6f6;
}
.content {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: #f6f6f6;
}
.content div {
  width: 49%;
  height: 200rpx;
  margin: 0 0 5rpx 4rpx;
  float: left;
}
._box {
  background-color: #ffffff;
}
._box div {
  height: 180rpx;
  float: left;
  margin: 0 auto;
}
._box div:nth-child(1) span {
  width: 100%;
  height: 160rpx;
  margin: 20rpx;
  display: inline-block;
  background-color: #ededed;
}
._box div:nth-child(1) i {
  font-size: 100rpx;
  color: #b9d4ff;
  text-align: center;
}
._box div:nth-child(2) {
  width: 80px;
  text-indent: 1.5em;
  line-height: 80rpx;
  font-size: 28rpx;
}
._box div:nth-child(2) ._text {
  width: 100%;
  height: 40rpx;
  line-height: 0;
  font-size: 12px;
}
._text span {
  display: inline-block;
}
._box div:nth-child(2) span:last-child {
  display: block;
  text-align: left;
  line-height: 0px;
}
._box div:nth-child(2) span:last-child i {
  font-size: 30rpx;
}
.icon-light-star:before {
  color: #f4ea2a;
}
img {
  width: 150rpx;
  height: 140rpx;
  padding: 10rpx;
}
</style>
