<template>
  <div class="group-notice-view">
    <div class="box notice">
      <div class="notice_bar">公告列表</div>
      <div class="notice_list">
        <ul>
          <li v-if="tableValue.length < 1">
            <div class="notice_none">-暂无数据-</div>
          </li>

          <li v-for="itm in tableValue" :key="itm">
            <span class="notice_icon"><i class="iconfont icon-notice"></i></span>
            <div class="notice_body" @click="linkToDetail(itm)">
              <div class="notice_title">{{itm.title}}</div>
              <div class="_right">
                <span class="content">{{itm.content}}</span>
                <span class="datetime">{{ itm.createTime }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="notice-card-footer">
        <div class="card_cell">{{group.name}}</div>
        <div class="card_cell" style="text-align: right;">
          <i class="iconfont icon-notice-num" style="display: inline;"></i>
          {{tableValue.length}}
        </div>
      </div>
    </div>

    <div class="box group-member">
      <div class="notice_bar">群成员列表</div>
      <div class="group-card-footer">
        <div class="card_cell">
          <i class="iconfont icon-group" style="display: inline;"></i>
          {{groupMember}}
        </div>
        <div class="card_cell" style="text-align: right;" v-if="userInfo.userId == group.userId" @click="routeLinkToUpdateGroup">
          <i class="iconfont icon-addperson" style="display: inline;"></i>
        </div>
      </div>
      <div class="group-person-list">
        <div class="cell_person_" v-for="itm in memberArray" :key="itm" @click="routeLinkToDetail(itm)">
          <div><i class="iconfont icon-user"></i></div>
          <p>{{itm.userName}}</p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index'

export default {
  data () {
    return {
      menu: {
        goback: '',
        project: '查看项目列表',
        createGroup: '创建群聊',
        goGroup: '进入群聊'
      },
      tableValue: [],
      memberArray: [],
    
      userInfo: {},
      group: {},
      userId: '',
      state: false,
      status: 0,
      groupMember: 0,
      nbFrontColor: '#6495ED',
      nbBackgroundColor: '#ffffff',
      nbLoading: false,
      nbFrontColor: '#ffffff',
      nbBackgroundColor: '#6495ED'
    }
  },
  mounted() {
    this.userInfo = wx.getStorageSync('userInfo')
    this.group = this.$store.state.groupForm
    this.groupMember = this.$store.state.groupMember
    this.getNoticeByGroupId()
    this.getUserList()
  },
  methods: {
    routeLinkToDetail(data) {
      if (this.userInfo.userId = this.group.userId) {
        const url = router.projectDetail + '?roleId=' + data.roleId
        + '&userName=' + data.userName
        + '&telephone=' + data.telephone
        + '&projectName=' + data.projectName
        + '&projectAddress=' + data.projectAddress
        + '&email=' + data.email
        + '&nickName=' + data.nickName
        mpvue.navigateTo({ url })
      }
    },
    routeLinkToUpdateGroup() {
      wx.navigateTo({ url: router.createGroup })
    },
    /**
     * desc: 获取群成员用户列表
     */
    getUserList() {
      API.getGroupMember({
        rowNumArray: this.group.member
      })
      .then(res => {
        this.memberArray = res.datas
      })
    },
    /**
    * desc: 查询公告列表
    */
    getNoticeByGroupId() {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      API.getNoticeByGroupId({
        groupId: this.group.id
      }).then(res => {
        this.tableValue = res.datas
        for(let i = 0; i < this.tableValue.length; i++) {
          let tmp = this.tableValue[i].createTime.split(' ')
          this.tableValue[i].createTime = tmp[0]
        }
        wx.hideLoading()
      })
    },
    /**
     * desc: 路由至公告详情页
     */
    linkToDetail(item) {
      const url = router.noticeDetail + '?noticeId=' + item.id
       + '&userName=' + item.userName
      wx.navigateTo({ url })
    },
    /**
     * desc: 返回
     */
    goback() {
      wx.navigateTo({ url: router.groups })
    }
  }
  }
</script>

<style scoped>
.group-notice-view {
  width: 100%;
  position: fixed;
  background: #f7f7f7;
  height: 100%;
  padding: 10px 0;
}
.box {
  width: 95%;
  min-height: 200rpx;
  box-shadow: 0 5rpx 20rpx #ededed;
  border-radius: 20rpx;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 40rpx;
}
.notice_bar {
  font-size: 18px;
  color: #484848;
  font-weight: 600;
  text-indent: 1em;
  line-height: 50px;
}
.notice_list ul li {
  border-top: 1px solid #ededed;
}
.notice_icon {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  line-height: 60px;
}
.icon-notice::before {
  font-size: 50rpx;
  color: #6495ED;
}
.notice_body {
  /* border-left: 2px solid #6495ED; */
  line-height: 30px;
}
.notice_title {
  font-size: 16px;
  color: #4d4d4d;
}
._right {
  font-size: 14px;
  color: #888;
  line-height: 50rpx;
}
._right span {
  display: inline-block;
}
.content {
  width: 450rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.datetime {
  text-align: right;
  position: absolute;
  right: 20px;
}
.notice-card-footer {
  box-shadow: 0 -4rpx 10rpx #ededed;
}
.notice-card-footer, .group-card-footer {
  height: 100rpx;
  color: #8B864E;
}
.group-card-footer {
  height: 20px; 
  color: #E9967A; 
  border-bottom: 1px dashed #ededed;
}
.notice-card-footer div, .group-card-footer div {
  width: 45%;
  float: left;
  text-indent: 1em;
}
.notice-card-footer div {
  line-height: 100rpx;
}
.group-card-footer div {
  line-height: 20rpx;
}
.notice_none {
  line-height: 100rpx;
  text-align: center;
  color: #ccc;
}
.group-person-list {
  padding: 20rpx;
  color: #4d4d4d;
  height: 500rpx;
  overflow: scroll;
}
.cell_person_ {
  width: 110rpx;
  height: 160rpx;
  float: left;
  padding: 0 15px;
}
.cell_person_ div {
  width: 100rpx;
  height: 100rpx;
  text-align: center;
  background-color: #ededed;
  border-radius: 10rpx;
  color: #ccc;
  line-height: 100rpx;
}
.cell_person_ p {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
