<template>
  <div class="page">

    <div class="weui-flex">
      <div 
      class="weui-flex__item flex-14 nav" 
      :style="activeIndex === 1 ? 'color: #fff;background-color: #6495ED;' : ''"
      @click="getDepartmentUser(1)">等级排序</div>
      <div 
      class="weui-flex__item flex-14 nav" 
      :style="activeIndex === 2 ? 'color: #fff;background-color: #6495ED;' : ''"
      @click="getDepartmentUser(2)">时间排序</div>
    </div>

    <!-- @click="routerLinkToDetail(item)" -->
    <div class="weui-flex" v-for="(item, index) in dataInfo" :key="index" >
      <div class="weui-flex__item flex-28">
        <div class="_box">
          <span>{{item.username}}</span>
          <span>{{item.star}}.0</span>
          <span v-if="item.star > 0"><i class="iconfont icon-light-star"></i></span>
          <span v-else><i class="iconfont icon-default-star"></i></span>
          <span class="_level" v-if="activeIndex != 2 && index == 0"><i class="iconfont icon-level-A"></i></span>
          <span class="_level" v-if="activeIndex != 2 && index == 1"><i class="iconfont icon-level-B"></i></span>
          <span class="_level" v-if="activeIndex != 2 && index == 2"><i class="iconfont icon-level-C"></i></span>
        </div>
      </div>
    </div>

    <div class="weui-flex" v-if="dataInfo.length < 1" >
      <div class="weui-flex__item flex-28">
        <div class="_box no-data">
         - 暂无数据 -
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index'

export default {
  components: {
  },
  data () {
    return {
      activeIndex: 1,
      dataInfo: [],
      idDepartment: 0
    }
  },
  onLoad(options) {
    this.idDepartment = options.idDepartment
  },
  mounted() {
    this.getDepartmentUser(this.activeIndex)
  },
  methods: {
    getDepartmentUser(val) {
      this.activeIndex = val
      API.getDepartmentUser({
        idDepartment: this.idDepartment,
        type: val
      }).then(res => {
        this.dataInfo = res.datas
      })
    },
    routerLinkToDetail(data) {
      let url = router.ratingDetail
      + '?idUser=' + data.idUser
      + '&score=' + data.star
      + '&type=detail'
      mpvue.navigateTo({ url })
    }
  }
}
</script>

<style scoped>
.nav {
  height: 80rpx;
  color: #4d4d4d;
  font-size: 32rpx;
  text-align: center;
  line-height: 80rpx;
  border-right: 1px solid #ededed;
}
._box {
  height: 80rpx;
  padding: 0 10rpx;
  line-height: 80rpx;
  border-bottom: 1px solid #ededed;
}
._box span {
  display: inline-block;
  margin: 0 10rpx;
}
._level {
  position: absolute;
  right: 20rpx;
}
.icon-level-A:before {
  color: #ec9b30;
}
.icon-level-B:before {
  color: #c5c2bf;
}
.icon-level-C:before {
  color: #857936;
}
.no-data {
  color: #b9b9b9;
  font-size: 12px;
  text-align: center;
}
</style>
