<template>
  <div class="page">

    <div class="top-bar">
      <div style="width: 40%;">
        <span>
          <img src="../../../static/images/user.png" />
          <!-- <i class="iconfont icon-touxiang-background"></i> -->
        </span>
      </div>

      <div>
        <p>{{userInfo.username}}</p>
        <span>{{userInfo.star}}</span>
        <span v-if="userInfo.star > 0"><i class="iconfont icon-light-star"></i></span>
        <span v-else><i class="iconfont icon-default-star"></i></span>
      </div>
    </div>

    <div class="page-in">
      <div class="rating">
        <h6><span class="_targer"></span>匿名评价</h6>

        <div class="starBox" ref="star1">
          <div class="_flex_boxs">
            <div class="star" v-for="(item, index) in starArr" :key="index" @click="starClick(index)">
              <i :class="'iconfont icon-'+item.imgSrc + '-star'"></i>
            </div>
            <p v-if="commentScore === (index + 1)" v-for="(item, index) in commentData" :key="index" >
              {{item}}
            </p>
          </div>
        </div>
      </div>

      <div class="questionnaire">
        <h6><span class="_targer"></span>工作评价</h6>
        <div class="_qtr_box">
          <div class="_options"
            :style="item.isChecked ? 'border: 1px solid orange; color: orange; background-color: #fff5f4;' : ''"
            v-for="(item, index) in questionData" 
            :key="index" 
            @click="hanldClick(index, item.idQuestion)"
          >
            {{item.content}}
          </div>
        </div>
        <div class="_btn" v-if="isShowBtn">
          <button type="primary" @click="submitAnswer">匿名评价</button>
        </div>
      </div>

      <div class="shade" v-if="isShowResult" @click="isShowResult = false"></div>
      <div class="prompt_text" v-if="isShowResult">
        <span @click="isShowResult = false"><i class="iconfont icon-close"></i></span>
        <div>感谢您的评分！</div>
      </div>

    </div>

  </div>
</template>

<script>
  import mpvuePicker from 'mpvue-picker';
  import API from "@/api/api";
  import router from '@/router/index'

  export default {
    data () {
      return {
        roleId: -1,
        commentData: [
          "非常不满意，各方面都很差", 
          "不满意，比较差", 
          "一般，还需改善", 
          "比较满意，仍可改善", 
          "非常满意，无可挑剔"
        ],
        questionData: [],
        checkedQuestionOptions: [],
        starArr: [
          {imgSrc: 'default'}, 
          {imgSrc: 'default'}, 
          {imgSrc: 'default'}, 
          {imgSrc: 'default'}, 
          {imgSrc: 'default'}
        ],
        commentScore: 0,
        isShowResult: false,
        isShowBtn: true,
        type: 1,

        state: null,
        score: null,
        userInfo: {
          idUser: null,
          username: null
        },
        wxUserInfo: {},
        currentLoginUser: {}, // 当前登录用户信息
        isDisabled: false,
        test: null
      }
    },
    watch: {
      type(newVal, oldVal) {
        this.checkedQuestionOptions = []
        this.getQuestionList(newVal)
      }
    },
    components: {
      mpvuePicker
    },
    onPullDownRefresh() {
      this.initData()
      this.getQuestionList(1)
    },
    onLoad(options) {
      // 获取二维码参数
      let params = wx.getStorageSync('decodeParams')
      if (params === 'undefined' 
      || params === '') {
        // 若身份为匿名用户登入则先解码参数
        wx.setStorageSync('decodeParams', decodeURIComponent(options.q))
      }

      params = wx.getStorageSync('decodeParams')

      let idUser = ''
      if (params != 'undefined' && params != '') { // 匿名用户
        let splitStr = params.split('=')
        let splitStr2 = params.split('&')
        idUser = params.substring(splitStr[0].length + 1, splitStr2[0].length)

      } else { // 内部用户
        idUser = options.idUser ? options.idUser : 0
        this.state = options.type
        this.idScore = options.idScore
        this.score = options.score + '.0'
      }
      this.selectUserById(idUser)
      this.currentLoginUser = wx.getStorageSync('userInfo')

      // 判断扫码用户身份，若openid为空跳转至授权页进行授权
      let openid = wx.getStorageSync('openid')
      if (!openid) {

        let type = wx.getStorageSync('type')
        if (type !== 'anonymous') {
          let url = router.authorize + '?state=anonymous'
          mpvue.redirectTo({ url }) 
        }

      } else { // 若openid不为空，且idRole = 2, 确认非员工身份可进行评分，否则拦截权限

         if (this.currentLoginUser.idRole !== 2 && this.state !== 'detail') {
           mpvue.redirectTo({ url: router.error })
         }
      }

      this.initData()
      this.getQuestionList(1)
      
    },
    onShow() {
    },
    methods: {
      // 初始化
      initData() {
        this.commentScore = 0
        this.wxUserInfo = null
        this.checkedQuestionOptions = []
        this.isDisabled = false
        this.isShowBtn = true
        this.starArr.forEach((element, i) => {
          this.$set(element, 'imgSrc', 'default')
        })
      },
      // 获取评分对象基本信息
      selectUserById(idUser) {
        wx.showLoading({
          title: '加载中',
        })
        let _that = this
        API.selectUserById({
          idUser: idUser
        }).then(res => {
          _that.userInfo = res.datas
          _that.userInfo.star = _that.userInfo.star + '.0'

          if (_that.state === 'detail') {
            _that.userInfo.star = this.score
            _that.starArr.forEach((element, i) => {
              if (i < _that.userInfo.star) {
                _that.$set(element, 'imgSrc', 'light')
              }
            })

            if (_that.userInfo.star >= 5) {
              _that.getQuestionList(2)
            }

            _that.selectAnswerByIdScore()
            _that.isDisabled = true
            _that.isShowBtn = false
          }
          wx.hideLoading()
        })
      },
      selectAnswerByIdScore() {
        let _that = this
        API.selectAnswerByIdScore({
          idScore: this.idScore
        }).then(res => {
          for (let i = res.datas.length - 1; i >= 0; i--) {
            let object = res.datas[i]
            _that.questionData.forEach(itm => {
              if (object.idQuestion == itm.idQuestion) {
                _that.$set(itm, 'isChecked', true)
              }
            })
          }
        })
      },
      // 获取问题列表
      getQuestionList(type) {
        wx.showLoading({
          title: '加载中',
        })
        API.getQuestionList({
          type: type
        }).then(res => {
          wx.hideLoading()
          let newData = []
          res.datas.forEach(item => {
            let object = {
              content: item.content,
              idQuestion: item.idQuestion,
              isChecked: false
            }
            newData.push(object)
          })
          this.questionData = newData
        })
      },
      // 提交评价
      submitAnswer() {
        wx.showLoading({
          title: '加载中',
        })
        this.wxUserInfo = wx.getStorageSync('wxUserInfo')
        let data = {
          score: {
            idUser: this.userInfo.idUser,
            score: this.commentScore,
            rater: this.wxUserInfo.nickName,
            raterId: this.currentLoginUser.idUser
          },
          answerList: this.checkedQuestionOptions
        }
        API.insertAnswer(data)
        .then(res => {
          if (res.status === 200) {
            wx.hideLoading()
            this.isDisabled = true
            this.isShowBtn = false

            this.isShowResult = true
          }
        })
        
      },
      // 勾选问卷选项
      hanldClick(index, id) {
        if (!this.isDisabled) {
          let itemIndex = this.checkedQuestionOptions.findIndex(item => {
            if(item === id){
              return true
            } else {
              return false
            }
          })

          if (itemIndex <= -1) {
            this.questionData[index].isChecked = true
            this.checkedQuestionOptions.push(id)
          } else {
            this.questionData[index].isChecked = false
            this.checkedQuestionOptions.splice(itemIndex, 1)
          }
        }
        
      },
      // 评星等及
      starClick (index) {
        if (!this.isDisabled) {
          this.starArr.forEach((element, i) => {
            this.$set(element, 'imgSrc', 'default')
            if (i <= index) {
              this.$set(element, 'imgSrc', 'light')
            }
          })
          this.commentScore = index + 1

          // if (this.commentScore >= 5) {
          //   this.type = 2
          // } else {
          //   this.type = 1
          // }
        }
      },
      // 返回
      goback() {
        mpvue.redirectTo({ url: router.userList })
      }
    }
  }
</script>

<style>
.page {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
.top-bar, .page-in {
  height: 200rpx;
  margin: 10rpx;
  color: #4d4d4d;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8rpx;
}
.page-in {
  height: auto;
}
.top-bar div {
  width: 49.5%;
  height: 100%;
  float: left;
}
.top-bar div:nth-child(1) {
  text-align: center;
}
.top-bar div:nth-child(1) span {
  display: inline-block;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15rpx;
  background-color: #f2f2f2;
}
.top-bar div:nth-child(1) span i {
  font-size: 50px;
}
.top-bar div:nth-child(2) p {
  margin-top: 15rpx;
}
.top-bar div:nth-child(2) span {
  display: inline-block;
  width: 15%;
  height: 40rpx;
  float: left;
  font-size: 12px;
}
.top-bar div:nth-child(2) span i {
  font-size: 12px;
}
.rating, .questionnaire {
  padding: 20rpx;
}
.questionnaire {
  min-height: 800rpx;
  margin-top: 20rpx;
}
.page-in .icon-light-star:before,
.page-in .icon-default-star:before {
  font-size: 80rpx;
}
.starBox {
  width: 100%;
  height: 50px;
}
.starBox .star {
  float: left;
}
._flex_boxs {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
._flex_boxs p {
  line-height: 0px;
  font-size: 12px;
  text-align: center;
  color: #f59b23;
}
._targer {
  display: inline-block;
  width: 10rpx;
  height: 25rpx;
  font-size: 16px;
  line-height: 25rpx;
  margin: 0 10rpx;
  background-color: #e2fcbb;
}
._qtr_box {
  width: 80%;
  height: 400rpx;
  margin: 0 auto;
  overflow-y: scroll;
}
._qtr_box ._options {
  width: 45%;
  height: 70rpx;
  float: left;
  margin: 10rpx;
  font-size: 14px;
  line-height: 70rpx;
  text-align: center;
  border: 1px solid #d7d7d7;
}
._btn {
  margin: 20rpx 0;
}
._btn button {
  width: 80%;
  color: #fff;
  font-size: 16px;
  background-color: #6495ED;
}
.shade, .prompt_text {
  width: 100%;
  position: absolute;
  top: 0;
}
.shade {
  height: 100%;
  z-index: 9;
  left: 0;
  opacity: 0.4;
  background-color: #000;
}
.prompt_text {
  height: 300rpx;
  z-index: 99;
  margin-top: 300rpx;
}
.prompt_text div {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 220rpx;
  background-color: #fff;
}
img {
  width: 150rpx;
  height: 140rpx;
  padding: 10rpx 10rpx 0 10rpx;
}
.prompt_text span {
  display: inline-block;
}
.icon-close:before {
  position: absolute;
  z-index: 999;
  right: 128rpx;
  font-size: 70rpx;
  margin-top: -10rpx;
  color: #b9b9b9;
}
</style>