<template>
  <!-- 底部菜单栏-->
  <div class="footer">

    <!-- 员工权限 -->

    <div id="emp_meun" v-if="roleId === 1" @click="routerLinkToHome" :style="checked == 1 ? 'color: #6495ED;' : ''">
      <p class="cnt-p">评分列表</p>
    </div>

    <div id="emp_meun" v-if="roleId === 1" @click="routeLinkToNotice" :style="checked == 2 ? 'color: #6495ED;' : ''">
      <p class="cnt-p">通知列表</p>
    </div>

    <!-- 管理者权限 -->

    <div v-if="roleId === 2" @click="routerLinkToHome" :style="checked == 1 ? 'color: #6495ED;' : ''">
      <p class="cnt-p">员工名单</p>
    </div>

    <div v-if="roleId === 2" @click="routerLinkToUserPage" :style="checked == 2 ? 'color: #6495ED;' : ''">
      <p class="cnt-p">我要评分</p>
    </div>

    <div v-if="roleId === 2" @click="routerLinkToScoringRecord" :style="checked == 3 ? 'color: #6495ED;' : ''">
      <p class="cnt-p">评分记录</p>
    </div>

  </div>
  
</template>

<script>
  import router from '@/router/index'
  export default {
    name: 'footers',
    props: {
      checked: {
        type: Number,
        default: 0
      },
      roleId: {
        type: Number,
        default: -1
      }
    },
    data () {
      return {
      }
    },
    methods: {
      // 路由至初始页面
      routerLinkToHome() {
        this.$store.dispatch('setChecked', 1)
        mpvue.navigateTo({ url: router.main })
      },
      // 路由至通知列表
      routeLinkToNotice() {
        this.$store.dispatch('setChecked', 2)
        mpvue.navigateTo({ url: router.main })
      },
      // 路由至评分用户列表
      routerLinkToUserPage() {
        this.$store.dispatch('setChecked', 2)
        mpvue.navigateTo({ url: router.userList })
      },
      // 路由至评分记录
      routerLinkToScoringRecord() {
        this.$store.dispatch('setChecked', 3)
        mpvue.navigateTo({ url: router.scoringRecord })
      }
    }
  }
</script>

<style scoped>
.cnt-p {
  font-size: 10px;
}
.icon-logo {
  display: block;
  position: absolute;
  width: 49%;
  margin-top: -29rpx;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #4d4d4d;
  box-shadow: 0px 0px 10px #ededed;
  background-color: #fff;
}
.footer div {
  width: 32.8%;
  height: 100rpx;
  float: left;
  text-align: center;
  font-size: 28rpx;
  line-height: 100rpx;
  border-right: 1px solid #ededed;
}
#emp_meun {
  width: 49.6%;
}
</style>
