<template>
  <div class="page">

    <div class="notice">
      <div class="_head">
        <div>{{noticeForm.title}}</div>
        <div><button type="primary" :class="noticeForm.checked ? 'active_state' : ''" @click="hanldClick">已阅</button></div>
      </div>
      <p>{{noticeForm.createTime}}</p>

      <div class="_context">
        {{noticeForm.content}}
      </div>
    </div>

  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index'

  export default {
    data () {
      return {
        idNotice: 0,
        noticeForm: {
          title: '',
          content: '',
          createTime: ''
        }
      }
    },
    onLoad(options) {
      this.idNotice = options.idNotice
    },
    mounted() {
      this.getNoticeDetail()
    },
    methods: {
      // 修改阅读状态
      hanldClick() {
        let params = {
          idNotice: this.idNotice,
          checked: 1
        }
        API.updateCheckedState(params)
        .then(res => {
          if (res.status === 200) {
            this.noticeForm.checked = 1
            this.getNoticeDetail()
          }
        })
      },
      // 获取通知详情
      getNoticeDetail() {
        API.getNoticeDetail({
          idNotice: this.idNotice
        }).then(res => {
          this.noticeForm = res.datas
        })
      }
    }
  }
</script>
<style scoped>
.page {
  width: 100%;
  height: 100%;
  padding-top: 20rpx;
  background-color: #f6f6f6;
}
.notice {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solirgb(129, 112, 112)ed;
  padding: 20rpx;
  color: #4d4d4d;
}
button {
  width: 60px;
  height: 60rpx;
  color: #6495ED;
  font-size: 14px;
  line-height: 58rpx;
  background-color: #fff;
  border: 2rpx solid #6495ED;
  margin-right: 0;
}
._head div {
  float: left;
  width: 49%;
}
._head div:nth-child(2) {
  text-align: right;
}
p {
  font-size: 12px;
  color: #b9b9b9;
}
._context {
  width: 95%;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 20px;
}
.active_state {
  color: #b9b9b9;
  border: 2rpx solid #b9b9b9;
}
</style>
