<template>
  <div class="page">
    <page-meta>
      <navigation-bar
        :loading="nbLoading"
        :front-color="nbFrontColor"
        :background-color="nbBackgroundColor"
        :color-animation-duration="2000"
        :color-animation-timing-func="easeIn"
      />
    </page-meta>

    <div class="content">
      <div class="_box" v-for="(item, index) in dataInfo" :key="index" @click="routerLinkToRating(item)">
        <div>
          <span>
            <!-- <i class="iconfont icon-touxiang-background"></i> -->
            <img src="../../../static/images/user.png" />
          </span>
        </div>
        <div>
          <p>{{item.userName}}</p>
          <div class="_text">
            <span v-if="item.score > 0"><i class="iconfont icon-light-star"></i></span>
            <span v-else><i class="iconfont icon-default-star"></i></span>
            <span>{{item.score}}.0</span>
          </div>
          <span><i class="iconfont icon-score"></i></span>
          <p class="_time">{{item.createTime}}</p>
        </div>
      </div>

      <div class="no-data" v-if="dataInfo.length < 1">
        - 暂无数据 -
      </div>

    </div>

  </div>
</template>

<script>
  import API from "@/api/api";
  import router from '@/router/index'

  export default {
    data () {
      return {
        roleId: -1,
        nbFrontColor: '#6495ED',
        nbLoading: false,
        nbFrontColor: '#ffffff',
        nbBackgroundColor: '#6495ED',

        dataInfo: [
          {
            id: 1,
            name: '张三',
            isLight: true,
            score: '5.0'
          },
          {
            id: 2,
            name: '王五',
            isLight: true,
            score: '4.0'
          },
          {
            id: 3,
            name: '李四',
            isLight: false,
            score: '2.0'
          }
        ],
        userInfo: {},
        roleId: 2,
        checked: 0
      }
    },
    onShow(){
    },
    onLoad(options) {
      this.roleId = options.roleId
    },
    mounted() {
      wx.showLoading({
        title: '加载中',
      })
      this.userInfo = wx.getStorageSync('userInfo')
      this.selectScoreById()
    },
    methods: {
      // 获取评分记录
      selectScoreById() {
        API.selectScoreById({
          raterId: this.userInfo.idUser
        }).then(res => {
          wx.hideLoading()
          if (res.status === 200) {
            this.dataInfo = res.datas
          }
        })
      },
      routerLinkToRating(data) {
        let url = router.ratingDetail 
        + '?idUser=' + data.idUser
        + '&idScore=' + data.idScore
        + '&score=' + data.score
        + '&type=detail'
        mpvue.redirectTo({ url })
      }
    }
  }
</script>

<style scoped>
.page {
  height: 100%;
  background-color: #f6f6f6;
}
.content {
  width: 100%;
  height: auto;
}
.content div {
  /* width: 48%; */
  height: 200rpx;
  margin: 10rpx 5rpx 5rpx 10rpx;
  /* float: left; */
}
._box {
  background-color: #ffffff;
}
._box div {
  height: 180rpx;
  float: left;
  padding-top: 5rpx;
}
._box div:nth-child(1) span {
  width: 100%;
  margin: 10rpx;
  line-height: 20rpx;
  text-align: center;
  display: inline-block;
  background-color: #ededed;
}
._box div:nth-child(1) i {
  font-size: 100rpx;
  color: #b9d4ff;
  text-align: center;
}
._box div:nth-child(2) {
  width: 80px;
  text-indent: 1.5em;
  line-height: 67rpx;
  font-size: 28rpx;
}
._box div:nth-child(2) ._text {
  width: 100%;
  height: 40rpx;
  line-height: 0;
  font-size: 12px;
}
._text span {
  display: inline-block;
}
._box div:nth-child(2) span:last-child {
  display: block;
  text-align: left;
  line-height: 0px;
}
._box div:nth-child(2) span:last-child i {
  font-size: 30rpx;
}
.icon-light-star:before {
  color: #f4ea2a;
}
.icon-score {
  line-height: 20rpx;
}
._time {
  position: absolute;
  right: 20rpx;
  color: #4d4d4d;
  font-size: 10px;
  margin-top: -30rpx;
}
img {
  width: 150rpx;
  height: 140rpx;
  padding: 10rpx;
}
.no-data {
  width: 100%;
  color: #b9b9b9;
  font-size: 14px;
  text-align: center;
}
</style>
