<template>
  <div class="page">
      
      <div>
        <span><i class="iconfont icon-error"></i></span>
        <p>抱歉，您没有评分权限哦~</p>
      </div>
  
  </div>
</template>

<script>
  export default {
    data () {
      return {
      }
    },
    mounted () {
    },
    methods: {
    }
  }
</script>

<style>
.page {
  height: 100%;
}
.page div {
  width: 100%;
  color: #4d4d4d;
  text-align: center;
  padding: 200rpx 0;
}
.icon-error:before {
  font-size: 200rpx;
  color: #ededed;
  margin-bottom: 50px;
}
</style>